.pure-badge, 
 .pure-badge-error, 
 .pure-badge-warning, 
 .pure-badge-success, 
 .pure-badge-info, 
 .pure-badge-inverse { 
 padding: 0.35em 0.9em 0.35em; 
 background-color: #9D988E; 
 color: #fff; 
 display: inline-block; 
 font-size: 11.844px; 
 font-weight: bold; 
 line-height: 1.2em; 
 vertical-align: baseline; 
 white-space: nowrap; 
 border-radius: 20px; 
 margin: 0.2em; 
 } 
 .pure-badge-error { 
 background-color: #D13C38; 
 } 
body { padding: 1em; }
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #666;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #666;
  height: 42px;
  width: 32px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00c;
}
